# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
migrate_working_dir/

# Editor directories
.atom/
.idea/
*.iml
*.ipr
*.iws

# VS Code settings (optional)
.vscode/

# History / temporary folders
.build/
.buildlog/
.history
.svn/
.swiftpm/

# =========================
# Flutter / Dart
# =========================
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Firebase config (local only)
lib/firebase_options.dart

# =========================
# iOS
# =========================
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/engine/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/Flutter.podspec.lock

# Xcode derived data
ios/DerivedData/
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# =========================
# Android
# =========================
/android/.gradle/
/android/app/build/
/android/build/
/android/app/debug/
/android/app/profile/
/android/app/release/
/android/local.properties

# Symbolication / obfuscation files
app.*.symbols
app.*.map.json